<div class="card">
  <div class="card-header p-0">
    <img class="card-img-top" [src]="environment.baseUrl + '/api/product/image/byProductId/' + productInfo.id"
      alt="Card image cap">
  </div>
  <div class="card-body p-2">
    <h5 class="card-title futura-medium text-center">{{productInfo.name}}</h5>
    <p class="card-text text-center">{{productInfo.description}}</p>
    <div class="input-group input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">$</span>
      </div>
      <input type="number" class="form-control" aria-label="Sizing example input"
        [value]="productInfo.price | number : '1.2-2'" aria-describedby="inputGroup-sizing-sm" disabled>
    </div>
    <div class="input-group input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Stock</span>
      </div>
      <input type="number" class="form-control" aria-label="Sizing example input" [value]="productInfo.quantity"
        aria-describedby="inputGroup-sizing-sm" disabled>
    </div>
    <div class="card-buttons text-center d-flex">
      <button class="btn btn-outline-success w-100" (click)="addToCart(productInfo)"><i class="fa fa-cart-plus"
          aria-hidden="true"></i> Add</button>
      <button class="btn btn-outline-danger w-100" (click)="addToWishList(productInfo)"><i class="fa fa-heart"
          aria-hidden="true"></i> Save</button>
      <button class="btn btn-outline-primary w-100" *ngIf="user?.admin"
        [routerLink]="['/update-products/' + productInfo.id]"><i class="fa fa-pencil" aria-hidden="true"></i>
        Update</button>
    </div>
  </div>
</div>
