<div class="card" style="width: 18rem;">
  <div class="card-img-container">
    <img class="card-img-top" [src]="environment.baseUrl + '/api/product/image/byProductId/' + productInfo.id"
      alt="Card image cap">
  </div>
  <div class="card-body">
    <h5 class="card-title futura-bold">{{productInfo.name}}</h5>
    <p class="card-text">{{productInfo.description}}</p>
    <div class="input-group input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">$</span>
      </div>
      <input type="number" class="form-control" aria-label="Sizing example input"
        [value]="productInfo.price | number : '1.2-2'" aria-describedby="inputGroup-sizing-sm" disabled>
    </div>
    <div class="input-group input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Stock</span>
      </div>
      <input type="number" class="form-control" aria-label="Sizing example input" [value]="productInfo.quantity"
        aria-describedby="inputGroup-sizing-sm" disabled>
    </div>
    <div class="text-center">
      <button class="btn btn-outline-success w-100" (click)="addToCart(productInfo)">Add to Cart</button>
      <button class="btn btn-outline-primary w-100 mt-3" *ngIf="user?.admin"
        [routerLink]="['/update-products/' + productInfo.id]">Update Product</button>
    </div>
  </div>
</div>
