<div class="m-auto d-flex flex-column h-100">
  <app-navbar></app-navbar>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent m-0">
      <li class="breadcrumb-item active" aria-current="page"><a [routerLink]="['/home']">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ theProduct?.name }}</li>
    </ol>
  </nav>
  <div class="flex-grow-1">
    <div class="d-flex justify-content-center">
      <div class="card" style="width: 100%; margin: 0 1rem .75rem 1rem">
        <div class="card-body">
          <!-- <div class="container d-md-none">
            <div class="text-center justify-content-center align-items-center pt-4 m">
              <div class="">
                <p class="display-6 fw-bold mb-5 text-primary text-center lead">
                  {{ theProduct?.name }}
                </p>
                <img [src]="
          environment.baseUrl + '/api/product/image/byProductId/' + productId
        " alt="{{ theProduct?.name }}" class="img-fluid w-50 mb-3" />
                <p class="mb-3">
                  {{ theProduct?.description }}
                </p>
                <p class="mb-3">Product price: ${{ theProduct?.price }} </p>
                <p class="mb-3">Quantity in stock: {{ theProduct?.quantity }}</p>
              </div>
              <div>
                <div class="d-flex justify-content-center">
                  <button class="btn btn-outline-success" (click)="addToCart(theProduct!)">
                    Add to Cart
                  </button>
                  <button class="btn btn-outline-danger" (click)="addToWishList(theProduct!)">
                    Add to Wishlist
                  </button>
                </div>
              </div>
            </div>
          </div> -->

          <div class="container-fluid d-md-none" style="max-width: 1200px;">
            <div class="row">
              <div class="col-md d-flex align-items-center">
                <div class="w-100 text-center">
                  <div class="my-3 h4" style="color: #F26925">{{ theProduct?.name }}</div>
                </div>
              </div>
              <div class="col-md d-flex justify-content-center align-items-center">
                <img [src]="environment.baseUrl + '/api/product/image/byProductId/' + productId"
                  alt="{{ theProduct?.name }}" class="img-fluid d-inline-block" />
              </div>
              <div class="col-md d-flex align-items-center">
                <div class="w-100 text-center">
                  <div class="my-3">{{ theProduct?.description }}</div>
                  <div class="my-3 priceQuantity">
                    <div class="input-group input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">$</span>
                      </div>
                      <input type="number" class="form-control" aria-label="Sizing example input"
                        [value]="theProduct?.price | number : '1.2-2'" aria-describedby="inputGroup-sizing-sm" disabled>
                    </div>
                    <div class="input-group input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Stock</span>
                      </div>
                      <input type="number" class="form-control" aria-label="Sizing example input"
                        [value]="theProduct?.quantity" aria-describedby="inputGroup-sizing-sm" disabled>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col py-2">
                <button class="btn btn-outline-success w-100" (click)="addToCart(theProduct!)"><i
                    class="fa fa-cart-plus" aria-hidden="true"></i> Add to Cart</button>
              </div>
              <div class="col py-2">
                <button class="btn btn-outline-danger w-100" (click)="addToWishList(theProduct!)"><i class="fa fa-heart"
                    aria-hidden="true"></i> Save
                </button>
              </div>
            </div>
          </div>

          <div class="container-fluid d-none d-md-block" style="max-width: 1200px;">
            <div class="row">
              <div class="col-md d-flex align-items-center">
                <div class="w-100">
                  <div class="my-3 h4" style="color: #F26925">{{ theProduct?.name }}</div>
                  <div class="my-3">{{ theProduct?.description }}</div>
                  <div class="my-3 priceQuantity">
                    <div class="input-group input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">$</span>
                      </div>
                      <input type="number" class="form-control" aria-label="Sizing example input"
                        [value]="theProduct?.price | number : '1.2-2'" aria-describedby="inputGroup-sizing-sm" disabled>
                    </div>
                    <div class="input-group input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Stock</span>
                      </div>
                      <input type="number" class="form-control" aria-label="Sizing example input"
                        [value]="theProduct?.quantity" aria-describedby="inputGroup-sizing-sm" disabled>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md d-flex justify-content-center align-items-center">
                <img [src]="environment.baseUrl + '/api/product/image/byProductId/' + productId"
                  alt="{{ theProduct?.name }}" class="img-fluid"/>
              </div>
            </div>
            <div class="row">
              <div class="col py-2">
                <button class="btn btn-outline-success w-100" (click)="addToCart(theProduct!)"><i
                    class="fa fa-cart-plus" aria-hidden="true"></i> Add to Cart</button>
              </div>
              <div class="col py-2">
                <button class="btn btn-outline-danger w-100" (click)="addToWishList(theProduct!)"><i class="fa fa-heart"
                    aria-hidden="true"></i> Save
                </button>
              </div>
            </div>
          </div>

          <!-- <div class="container d-none d-md-block">
            <p class="display-6 pt-5 pb-3 text-primary text-center lead">
              {{ theProduct?.name }}
            </p>
            <div class="m-auto pb-3 d-flex justify-content-between align-items-center border-top border-muted w-75">
              <div class="ms-5">
                <p class="mb-5">
                  {{ theProduct?.name }}
                </p>
                <p class="mb-5">
                  {{ theProduct?.description }}
                </p>
                <div class="input-group input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">$</span>
                  </div>
                  <input type="number" class="form-control" aria-label="Sizing example input"
                    [value]="theProduct?.price | number : '1.2-2'" aria-describedby="inputGroup-sizing-sm" disabled>
                </div>
                <div class="input-group input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Stock</span>
                  </div>
                  <input type="number" class="form-control" aria-label="Sizing example input"
                    [value]="theProduct?.quantity" aria-describedby="inputGroup-sizing-sm" disabled>
                </div>
              </div>
              <div class="border border-start border-muted">
                <img [src]="environment.baseUrl + '/api/product/image/byProductId/' + productId"
                  alt="{{ theProduct?.name }}" class="img-fluid d-inline-block" width="500" height="500" />
              </div>
            </div>
            <div class="d-flex justify-content-center pb-5">
              <button class="btn btn-outline-success w-100" (click)="addToCart(theProduct!)"><i class="fa fa-cart-plus"
                  aria-hidden="true"></i> Add to Cart</button>
              <div class="p-2 m-2"></div>
              <button class="btn btn-outline-danger w-100" (click)="addToWishList(theProduct!)"><i class="fa fa-heart"
                  aria-hidden="true"></i> Save
              </button>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
