<div class="m-auto d-flex flex-column h-100">
  <app-navbar (passCurrentUserInfo)="getCurrentUserInfo($event)"></app-navbar>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent m-0">
      <li class="breadcrumb-item active" aria-current="page"><a [routerLink]="['/home']">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Cart</li>
    </ol>
  </nav>
  <div class="container-fluid my-3 flex-grow-1">
    <div class="row">
      <div class="col">
        <table class="table table-striped text-center" id="cart-table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Quantity</th>
              <th scope="col">Description</th>
              <th scope="col">Unit Price</th>
              <th scope="col" class="text-nowrap">Adjust Quantity</th>

            </tr>
          </thead>
          <tbody id="cart-table-body">
            <tr *ngFor="let product of products;">
              <td class="align-middle">{{product.product.id}}</td>
              <td class="align-middle">{{product.product.name}}</td>
              <td class="align-middle">{{product.quantity}}</td>
              <td class="align-middle">{{product.product.description}}</td>
              <td class="text-right">${{product.product.price  | number : '1.2-2'}}</td>
              <td class="align-middle text-nowrap">
                <div class="input-group input-group-sm flex-nowrap justify-content-center align-items-center w-100">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Qty</span>
                  </div>
                  <input class="form-control" placeholder="0" min="1" max="999" [value]="product.quantity" step="1" type="number"
                    size="3" style="min-width: 64px; max-width: 64px" #qty>
                  <div class="input-group-append">
                    <button class="btn btn-success" (click)="updateItem(product.product.id, qty.value)">
                      <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Change
                    </button>
                    <button class="btn btn-danger" (click)="updateItem(product.product.id, '0')">
                      <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Remove
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-danger mr-2" [routerLink]="['/home']">Back</button>
        <button class="btn btn-warning mr-2" (click)="emptyCart()">Empty Cart</button>
        <button class="btn btn-primary mr-2" [routerLink]="['/checkout']">Proceed to Checkout ( ${{totalPrice | number :
          '1.2-2'}} )</button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
