<img src="../../../assets/images/rev-logo.png" width="30%" height="30%" alt="Revature">
<form id="login-form" [formGroup]="loginForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">Ensure you enter the correct email</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button class="btn btn-primary" (click)="onSubmit()">Login</button>
    <button class="btn btn-primary" [routerLink]="['/register']">Register</button>
</form>
