<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">
    <img class="align-middle mr-2" src="/assets/images/favicon.png" width="36" height="36" alt="Revature">
    <span class="h4 align-middle">Revature Swag Shop</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        &nbsp;
      </li>
    </ul>
    <form class="form-inline d-flex justify-content-end">
      <button class="btn btn-light" [routerLink]="['/cart']">
        Cart
        <span class="badge badge-info">{{cartCount}}</span>
      </button>
      <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout();"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</button>
    </form>
  </div>
</nav>
