<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a [routerLink]="['/home']" class="navbar-brand">
    <img class="align-middle mr-2" src="/assets/images/favicon.png" width="36" height="36" alt="Revature">
    <span class="h4 align-middle">Revature Swag Shop</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        &nbsp;
      </li>
    </ul>
    <form class="form-inline d-flex justify-content-end">
      <div>
        <ul class="navbar-nav mr-auto text-right">
          <li class="nav-item">
            <button class="btn btn-light" [routerLink]="['/cart']">
              Cart
              <span class="badge badge-info">{{cartCount}}</span>
            </button>
          </li>
          <li class="nav-item d-flex align-items-center">
            <div>
              <button type="button" class="btn btn-light">
                <span class="futura-heavy mr-2">Welcome,
                  {{currentUserInfo != null ? currentUserInfo.firstName : '' | titlecase}}
                  {{currentUserInfo != null ? currentUserInfo.lastName : '' |
                  titlecase}}</span>
                <div style="display: inline;" *ngIf="currentUserInfo.admin">
                  [ <i class="admin-indicator fa fa-star mr-1" aria-hidden="true"></i>
                  <span class="admin-indicator">Admin</span> ]
                </div>
              </button>
              <input type="text" [(ngModel)]="Searching" name="Searching">
              
              <span style="margin-left:10px;">Search by:</span>
              <select placeholder="Search by" name="searchBy" id="searchBy" [(ngModel)]="searchByValue">
                <option value="Id">Id</option>
                <option value="Name">Product Name</option>
              </select>
              <span><button class="btn btn-danger mr-1" style="margin-left:5px;" (click)="BigSearch()">Search</button></span> <!-- Needs to be a dropdown -->
              
            </div>
          </li>
          <li class="nav-item ml-2">
            <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout();"><i class="fa fa-sign-out"
                aria-hidden="true"></i> Logout</button>
          </li>
        </ul>
      </div>
    </form>
  </div>
</nav>
