.navbar-brand > img {
  border-radius: 5px;
}
.admin-indicator {
  color: #F36A26
}

.input-group-prepend span {
  width: 100px;
}

select#searchBy {
  border: 0;
  background: none;
  font-size: 12px;
}

.welcome-user {
  font-size: 14px;
  white-space: nowrap;
}

.searchDropdown .input-group {
  max-width: 320px;
}

@media screen and (max-width: 1200px) {

  /* .welcome-text,
  .welcome-name,
  .welcome-admin {
    display: inline-block !important;
    font-size: 16px !important;
  } */

  .navbar li.nav-item {
    margin-left: 0 !important;
    width: 100%;
    max-width: 380px;
  }

}

#navbarSupportedContent .input-group {
  width: initial;
}

/* .welcome-text {
  display: block;
  font-size: 12px;
} */

.welcome-name {
  color: #212529
}

.welcome-admin,
.welcome-name {
  display: inline-block;
  /* font-size: 12px; */
}

.navbar li.nav-item {
  margin-left: 8px;
  min-height: 48px;

}

.navbar-reg-btn {
  border: 1px solid #ced4da;
}

.searchContainer input {
  min-width: 140px
}

#searchTermLabel.input-group-text {
  background: transparent;
}
